<div style="border-radius: 25px; border: 2px solid #3F51B5; width: 90%; height: 70%;margin-left: 5%;margin-top: 3%; box-shadow: 10px 10px 5px grey;background-color: white;">
    <div class="pagewrap" style="padding-left: 15%;">
        <br><br>
    <h1 style="padding-right: 10%;">Modifier les informations de l'étudiant : {{student.lastName}} {{student.firstName}}</h1><br>


            <form #receivedStudent="ngForm" >

                <div style="padding-left: 9%;">
                <mat-form-field [floatLabel]="'auto'">
                    <mat-label for="firstName">Prenom</mat-label>
                        <input matInput type="text" class="form-control" id="firstName" placeholder="Prenom" [(ngModel)]="student.firstName"
                            name="firstName" required>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
                <mat-form-field [floatLabel]="'auto'">
                    <mat-label for="lastName">Nom</mat-label>
                        <input matInput type="text" class="form-control" id="lastName" placeholder="Nom" [(ngModel)]="student.lastName"
                            name="lastName" required>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
                <mat-form-field [floatLabel]="'auto'" style="width: 300px;">
                    <mat-label for="email">Email</mat-label>
                        <input matInput type="text" class="form-control" id="email" placeholder="Ex: test@test.com" [(ngModel)]="student.email"
                            name="email" required>
                </mat-form-field>
            </div>
                <br>
        
                <div style="margin-left: 9%;">
                    <mat-form-field [floatLabel]="'auto'">
                        <mat-label for="gender">Sexe</mat-label>
                            <input matInput type="text" class="form-control" id="gender" placeholder="M(Masculin) ou F(Féminin)" [(ngModel)]="student.gender"
                                name="gender" required>
                    </mat-form-field>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
                    <mat-form-field>
                        <mat-label for="classe">Classe</mat-label>
                            <input matInput type="text" id="classe" placeholder="Ex: gi2" class="form-control" [(ngModel)]="student.classe"
                                name="classe" required>
                    </mat-form-field>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
                    <mat-form-field [floatLabel]="'auto'" style="width: 300px;">
                        <mat-label for="phone">Tel</mat-label>
                            <input matInput type="text" class="form-control" id="phone" placeholder="Ex: 0601020304" [(ngModel)]="student.phone"
                                name="phone" required>
                    </mat-form-field>
                </div>
        <br>
               
        <mat-form-field style="margin-left: 30.5%;">
            <mat-label>Date de naissance</mat-label>
            <input matInput [(ngModel)]="student.birthday" name="birthday" [matDatepicker]="picker" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
               

            <br>
            <div style="padding-left: 34%;">
            <button type="button" class="btn btn-success" (click)="actualizar(student)" style="padding-left: 5%; padding-right: 5%;background-color: #3F51B5;">Save</button>
        </div>
        <br><br>
    </form>
</div>
</div>
