<h1 style="margin-left: 37%;">Liste des notes</h1>
<div class="search-div" style="margin-left: 10%;">
    <mat-form-field class="search-form-field" floatLabel="auto">
        <input matInput [(ngModel)]="searchKey" placeholder="Entrer une classe" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field class="search-form-field" floatLabel="auto">
        <input matInput [(ngModel)]="searchKey2" placeholder="Entrer une matière" autocomplete="off"
            (keyup)="applyFilter2()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey2" (click)="onSearchClear2()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field class="search-form-field" floatLabel="auto">
        <input matInput [(ngModel)]="searchKey3" placeholder="Entrer un étudiant" autocomplete="off"
            (keyup)="applyFilter3()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey3" (click)="onSearchClear3()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<mat-table [dataSource]="listData" matSort style="width: 80%;margin-left: 10%;box-shadow: 10px 10px 5px grey;border: 1px solid #3F51B5;">
    
    <ng-container matColumnDef="studentFullName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>studentFullName </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button (click)="doThisThing(element)" style="background-color: white; border: none ;">
                {{element.studentFullName}}
            </button></mat-cell>
    </ng-container>
    <ng-container matColumnDef="subject">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Matière </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.subject}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef mat-sort-header>value </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.value}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="classe">
        <mat-header-cell *matHeaderCellDef mat-sort-header>classe </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classe}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="semestre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Semestre </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.semestre}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let note">
          <!--  <button type="button" class="btn btn-primary" (click)="viewNote(note)" style="background-color: #3F51B5;"><span class="material-icons">more_horiz</span></button>&nbsp;-->
            <button type="button" class="btn btn-primary" (click)="editNote(note)" style="background-color: #3F51B5;"><span class="material-icons">create</span></button>&nbsp;
            <button type="button" class="btn btn-primary" (click)="deleteNote(note)" style="background-color: #3F51B5;"><span class="material-icons">delete</span></button>
            <!--
        <button type="button" class="btn btn-primary" (click)="editNote(note)">edit</button>
        <button type="button" class="btn btn-primary" (click)="deleteNote(note)">delete</button>
            -->
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" style="width: 80%;margin-left: 10%;box-shadow: 10px 10px 5px grey;border: 1px solid #3F51B5;"></mat-paginator>